<div class="menu-container">
    <div class="text">
        <h1>Products</h1>
        <span>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.<br/> Lorem Ipsum has been the industry’s standard dummy
        </span>
    </div>
    <div class="product-portals">
        <div class="portal1">
            <a [routerLink]="['/products/broker']">
                <img src='assets/products.png' />
                <h2>Broker Portal</h2>
            </a>
        </div>
        <div class="portal2">
            <a [routerLink]="['/products/provider']">
                <img src='assets/products.png' />
                <h2>Provider Portal</h2>
            </a>

        </div>
    </div>
</div>