<div class="page">
    <div class="vision">
        <div class="img">
            <img src="assets/vission.png" class="banner" loading="lazy" />
        </div>
        <div class="vision-text">
            <h1 class="header">
                Our Vision
            </h1>
            <p> Estafsar aims to streamline,simplify,and digitize the <br/> insurance industry to increase insurance inclusion in Egypt</p>
        </div>
    </div>
    <div class="mision">
        <div class="mision-text">
            <h1 class="header">
                Who We Are
            </h1>
            <p> Estafsar is building digital tools that would ultimately bring <br/> transparency and scalability to the Egyptian insurance <br/> industry , by connecting all insurance stakeholders onto one digitally integrated network</p>
        </div>
        <div class="img">
            <img src="assets/mission.png" class="banner" loading="lazy" />
        </div>
    </div>
    <!-- <div class="mail-subscribe">
        <div class="widget">
            <h1>
                Subscribe to our Newsletter
            </h1>
        </div>
    </div> -->
</div>
<app-footer></app-footer>
