h1 {
  margin: 50px;
}
.text {
  text-align: center;
  font: normal normal 300 16px/24px Prompt;
  letter-spacing: -0.8px;
  color: #231f20;
}
.auth-image{
  width: 58vw;
  height: 90vh;
}
$desktop: 1280px;
@media only screen and (min-width: $desktop) {
  .auth-image{
    width: 49vw;
  }
}

