<ng-container *ngIf="!loading;else loader">
    <div class="page" *ngIf="groups$ | async">
        <app-search-section  [page]="'clientForm'" (searchValues)="search($event)" [searchParams]="searchParameters"></app-search-section>
        <div class="dynamic-form-conrainer">
            <app-dynamic-form class="app-dynamic" [groups$]="groups$" (ansewers)="getOffers($event)"></app-dynamic-form>
        </div>
    </div>
</ng-container>
<ng-template #loader>
    <div class="grid-spinner">
        <mat-spinner></mat-spinner>
    </div>
</ng-template>