
.dynamic-form-conrainer {
  width: 92%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  .app-dynamic{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 93%;
  }
}

.grid-spinner {
  display: flex;
  justify-content: center;
  margin-top: calc(50vh - 100px);
}