
.submit-form{
    display: flex;
    justify-content: flex-end;
    margin: 30px 0;
}
.submit-btn{
    width: 60%;
}

$desktop: 1280px;
@media only screen and (min-width: $desktop) {
    .submit-btn{
        width: 20%;
    }
}