
    <!-- <form (ngSubmit)="onSubmit()" [formGroup]="form"> -->
      <ng-conatiner *ngIf="groups$">
        <ng-container *ngFor="let group of groups$ | async">
          <div *ngFor="let question of group.questions" class="form-row">
              <app-dynamic-form-question [question]="question" [form]="group.form"></app-dynamic-form-question>
          </div>
        </ng-container>
      </ng-conatiner>


    <!-- </form> -->
  
    <div *ngIf="payLoad" class="form-row">
      <strong>Saved the following values</strong><br>{{payLoad}}
    </div>
 