<div class="page">
    <div class="container">
        <div class="banner-section">
            <img src="assets/Provider/Group 2194.svg" class="banner" loading="lazy" />
            <div class="text">
                <h1>
                    <span class='portal-header'>
                        Provider Portal
                    </span><br/> Enhance & digitize your internal processes through<br/> Estafsar’s tender and company management tools
                </h1>
            </div>
        </div>
        <div class="banner-2">
            <img src="assets/logo.svg" class="logo" />
            <p>Reduce distribution costs and increase sales volume through</p>
            <div class="provider-images-container">
                <img src="assets/Provider/Group 2154.svg" class="first-ballon" />
                <img src="assets/Provider/Group 2213.svg" />
                <img src="assets/Provider/Path 1974.svg" class="last-ballon" />
                <div class="last-img-txt">
                    <h1>
                        Direct Retail Sales​
                    </h1>
                    <p>Reduce distribution costs and increase<br/> sales volume through our aggregation<br/> portal​</p>
                </div>
            </div>
        </div>
        <div class="provider-network">
            <div class="network-img">
                <img src="assets/Provider/Group 2209.svg" />
            </div>
            <div class="network-text">
                <h1>
                    Retail Aggregation
                </h1>
                <p>
                    Empower retail marketing through Estafsar’s insurance <br/> focused platform:​
                </p>
                <div class="network-list">
                    <div class="item">
                        <img src="assets/Provider/Path 426.svg" />
                        <p>Display offers on Estafsar’s retail aggregator in a user-friendly format​​</p>
                    </div>
                    <div class="item">
                        <img src="assets/Provider/Path 1707.svg" />
                        <p>Offers displayed with no interference, presenting unbiased offers to users​</p>
                    </div>
                    <div class="item">
                        <img src="assets/Provider/Group 2133.svg" />
                        <p>Access to verified leads and lead management tools​​​</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="provider-network">

            <div class="network-text">
                <h1>
                    Broker Deal Discovery​
                </h1>
                <p>
                    Scalable & cost-effective deal discovery mechanism:​
                </p>
                <div class="network-list">
                    <div class="item">
                        <img src="assets/Provider/Path 450.svg" />
                        <p>Instantly connect to corporate and individual brokers​</p>
                    </div>
                    <div class="item">
                        <img src="assets/Provider/Path 398.svg" />
                        <p>Optimize deal acquisition process through targeted search capabilities​</p>
                    </div>
                    <div class="item">
                        <img src="assets/Broker/Path 412.svg" />
                        <p>Configurable internal controls for optimal team accountability​ ​</p>
                    </div>
                </div>
            </div>
            <div class="network-img">
                <img src="assets/Provider/Group 2136.svg" />
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>