.search-card {
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 70vw;
}
.text {
  width: 100%;
  display: flex;
  position: absolute;
  color: #707070;
  top: 20vw;
  .uppercase {
    text-transform: uppercase;
    color: #524f9c;
  }
}
.banner{
  width: 100vw;
  object-fit: cover;
  opacity: 0.8;
}

$desktop: 1280px;
@media only screen and (min-width: $desktop) {
  .search-section {
    margin-bottom: -35px;
    position: relative;
    width: 25vw;
    color: white;
    app-search{
      width: 100%;
    }
    .banner {
      width: 60vw;
    }
    .search-card {
      top: 78%;
      left: -60%;
    }
    .text {
      top: 20%;
      right: 50%;
      justify-content: center;
      width: 26vw;
      h1{
        font-size: xx-large;
      }
    }
  }
}