<div class="page">
    <div class="container">
        <div class="banner-section">
            <img src="assets/Broker/Group 2195.svg" class="banner" loading="lazy" />
            <div class="text">
                <h1>
                    <span class='portal-header'>
                        Broker Portal
                    </span><br/> Enhance & digitize your internal processes through<br/> Estafsar’s tender and company management tools
                </h1>
            </div>
        </div>
        <div class="provider-network">
            <div class="network-img">
                <img src="assets/Broker/Group 2161.svg" />
            </div>
            <div class="network-text left-side">
                <h1>
                    Provider Network
                </h1>
                <p>
                    Scale your deal communication strategy by instantly<br/> connecting with a wider network of insurance providers,<br/> accelerating policy quoting time & maximizing deal traction​
                </p>
                <div class="network-list">
                    <div class="item">
                        <img src="assets/Broker/Path 443.svg" />
                        <p>digital hassle-free deal communication to all insurance partners​</p>
                    </div>
                    <div class="item">
                        <img src="assets/Broker/Group 2202.svg" />
                        <p>full control over which insurance companies can access deal data​​</p>
                    </div>
                    <div class="item">
                        <img src="assets/Broker/Path 412.svg" />
                        <p>configurable internal controls for optimal team accountability​​</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="provider-network">

            <div class="network-text">
                <h1>
                    Integrated Internal System​
                </h1>
                <p>
                    Our solution equips brokers with a specialized cloud based internal management system that aims to enhance their core business processes​
                </p>
                <div class="network-list">
                    <div class="item">
                        <img src="assets/Broker/Group 2206.svg" />
                        <p>Configurable digital workflows for enhanced productivity and improved accountability​</p>
                    </div>
                    <div class="item">
                        <img src="assets/Broker/Group 2207.svg" />
                        <p>Integrated customer relationship management system (CRM) to elevate customer experience and lifetime value​​​</p>
                    </div>
                    <div class="item">
                        <img src="assets/Broker/Group 2208.svg" />
                        <p>Team benchmarking through real time system dashboard ​</p>
                    </div>
                </div>
            </div>
            <div class="network-img left-side">
              <img class="image" src="assets/Broker/Group 2218.svg"/>
            </div>
        </div>
        <!-- <img src="assets/Broker/Group 2218.svg"/> -->
    </div>
</div>
<app-footer></app-footer>