/* You can add global styles to this file, and also import other style files */
$desktop: 1280px;
* {
  font-family:Prompt /* Replace with your custom font */, sans-serif !important; 
  /* Add !important to overwrite all elements */
}
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  color: #221f28;
  display: flex;
  background-color: #F5F5F5;
}

.logo {
  display: flex;
  justify-content: center;
}
.page {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.half-form {
  display: flex;
  flex-direction: row;
  .bg-img {
    width: 50%;
  }
  .form {
    width: 50%;
    .flex-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 20px;
      .FormCell {
        margin: 10px;
        width: 60%;
        > mat-form-field {
          width: 100%;
        }
      }
      button {
        width: 60%;
      }
    }
  }
}
.btn-link{
  text-decoration: none;
}
@media only screen and (min-width: $desktop) {
  body{display: block;}
  .page{
    width: 100%;
  }
}