<div class="half-form">
    <div class="form">
        <form [formGroup]="signUPForm">
            <div class="flex-container">
                <div class="logo">
                    <img src="assets/logo.svg" />
                </div>
                <div class="FormCell">
                    <mat-form-field>
                        <input matInput type="text" formControlName="username" placeholder="User name">
                        <mat-error *ngIf="f.username.hasError('required') && (f.username.dirty || f.username.touched)">
                            Field is required.
                        </mat-error>
                        <mat-error *ngIf="f.username.hasError('invalid_field') && (f.phone_number.dirty || f.phone_number.touched)">
                            {{BeError}}.
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="FormCell">
                    <mat-form-field>
                        <input matInput type="text" formControlName="phone_number" maxlength="10" placeholder="Phone number">
                        <mat-error *ngIf="f.phone_number.hasError('required') && (f.phone_number.dirty || f.phone_number.touched)">
                            Field is required.
                        </mat-error>
                        <mat-error *ngIf="f.phone_number.hasError('pattern') && (f.phone_number.dirty || f.phone_number.touched)">
                            Field format is incorrect.
                        </mat-error>
                        <mat-error *ngIf="f.phone_number.hasError('invalid_field') && (f.phone_number.dirty || f.phone_number.touched)">
                            {{BeError}}.
                        </mat-error>
                        <span matPrefix>+20&nbsp;</span>
                    </mat-form-field>
                </div>
                <div class="FormCell">
                    <mat-form-field>
                        <input matInput type="email" formControlName="email" placeholder="Email">
                        <mat-error *ngIf="f.email.hasError('email') && (f.email.dirty || f.email.touched)">
                            Field format is incorrect.
                        </mat-error>
                        <mat-error *ngIf="f.email.hasError('required') && (f.email.dirty || f.email.touched)">
                            Field is required.
                        </mat-error>
                        <mat-error *ngIf="f.email.hasError('invalid_field') && (f.phone_number.dirty || f.phone_number.touched)">
                            {{BeError}}.
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="FormCell">
                    <mat-form-field>
                        <input matInput type="password" formControlName="password" placeholder="Password">
                        <mat-error *ngIf="f.password.hasError('required') && (f.password.dirty || f.password.touched)">
                            Field is required.
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="FormCell">
                    <mat-form-field>
                        <input matInput type="password" formControlName="confirm_password" placeholder="Confirm Password">
                        <mat-error *ngIf="f.confirm_password.hasError('required') && (f.confirm_password.dirty || f.confirm_password.touched)">
                            Field is required.
                        </mat-error>
                        <mat-error *ngIf="f?.confirm_password?.errors?.confirmedValidator">
                            Password and Confirm Password must be match.
                        </mat-error>
                    </mat-form-field>
                </div>
                <button mat-raised-button color="primary" id="signup-btn">Create account</button>
                <button class="back-to-login" mat-stroked-button color="primary" (click)="login()">Back to login</button>
            </div>
        </form>
    </div>
    <div class="bg-img">
        <img class="auth-image" src="assets/auth-image/Group 2219.png"/>
    </div>
</div>