<mat-card>
    <form class="search-widget-card" [formGroup]="searchForm">
        <mat-form-field class="formField" appearance="outline" id="type">
            <mat-label>Type</mat-label>
            <mat-select formControlName="type">
                <mat-option *ngFor="let type of types" [value]="type">
                    {{type}}</mat-option>
            </mat-select>
        </mat-form-field>



        <mat-form-field id="dates" class="example-full-width" appearance="outline">
            <mat-label>start date</mat-label>
            <input matInput readonly [matDatepicker]="checkin" formControlName="created_at">
            <mat-datepicker-toggle matSuffix [for]="checkin">
                <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
            </mat-datepicker-toggle>
            <mat-datepicker #checkin></mat-datepicker>
        </mat-form-field>


        <mat-form-field id="category" class="formField" appearance="outline">
            <mat-label>Category</mat-label>
            <mat-select formControlName="policy_category">
                <mat-option *ngFor="let category of categories$ | async" [value]="category.id">
                    {{category.name}}</mat-option>
            </mat-select>
        </mat-form-field>

        <button class="update-btn CN_button" mat-raised-button color="primary" (click)="search()">Update Search</button>
    </form>
</mat-card>