$desktop: 1280px;

.search-widget-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


#dates {
    width: 30%;
    height: 60px;
}

#category {
    width: 40%;
    height: 60px;
}

#type {
    width: 30%;
    height: 60px;
}

.update-btn {
    width: 30%;
    height: 50px;
    border-radius: 0px 10px 10px 0px;
}



 
  @media only screen and (min-width: $desktop) {
    .search-section {
        margin-bottom: -35px;
        position: relative;
        text-align: center;
        color: white;
        .banner{
            width: 100vw;
            height: 70vh;
            object-fit: fill;
            opacity: 0.8;
          }
          .search-card{
            width: 100%;
            display: flex;
            justify-content: center;
            position: absolute;
            top: 78%;
          }
      }
  }