$desktop: 1280px;

.search-widget-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


#dates {
    width: 30%;
    height: 60px;
}

#category {
    width: 40%;
    height: 60px;
}

#type {
    width: 30%;
    height: 60px;
}

.update-btn {
    width: 30%;
    height: 50px;
    border-radius: 0px 10px 10px 0px;
}

.search-card{
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 20%;
  }
  .text{
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 30%;
    right: 20%;
    color: #707070;
    .uppercase{
        text-transform:uppercase;
        color:#524F9C
    }
  }

 
  @media only screen and (min-width: $desktop) {
    .search-section {
        margin-bottom: -35px;
        position: relative;
        text-align: center;
        color: white;
        .banner{
            width: 60vw;
            object-fit: cover;
            opacity: 0.8;
          }
          .search-card{
            top: 78%;
            left: 0%;
          }
          .text{
            top: 20%;
            right: 50%;
          }
      }
  }