
.search-widget-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


#dates {
    width: 30%;
    height: 60px;
}

#category {
    width: 40%;
    height: 60px;
}

#type {
    width: 30%;
    height: 60px;
}

.update-btn {
    width: 30%;
    height: 50px;
    border-radius: 0px 10px 10px 0px;
}

